<%- include("header") -%>

<div class="container">
  <h1>Configure Areas</h1>
  <form action="/areas" method="POST">
    <div class="input-area">
      <div class="mb-3">
        <label for="newAreaInput" class="form-label">New Area</label>
        <input type="text" name="newArea" class="form-control" id="newAreaInput" placeholder="Area">
      </div>
      <div>
        <button type="submit" class="btn btn-secondary btn-lg configure-botton">Add</button>
      </div>
    </div>
    <div class="input-area">
      <div class="mb-3">
        <label for="existingAreas" class="form-label">Existing Areas</label>
        <select multiple class="form-select" size="3" id="existingAreas">
          <% areas.forEach(area => { %>
            <option><%= area.name %></option>
          <% }); %>
        </select>
      </div>
      <div class="edit-bottons">
        <button type="submit" class="btn btn-secondary btn-lg configure-botton">Edit</button>
        <button type="submit" class="btn btn-secondary btn-lg configure-botton">Remove</button>
      </div>
    </div>
  </form>
  <p class="error-message"><%=message%></p>
</div>

<%- include("footer") -%>