body {
  font-family: "Montserrat";
  background-color: #fcf8ec;
}

footer {
  text-align: center;
  margin: 5rem;
}

h1 {
  margin: 2rem 0;
}

.switch-buttons {
  margin-top: auto;
  margin-bottom: 20px;
  display: inline-block;
}

.switchButton {
  text-align: center;
  width: auto;
  margin: auto;
}

.card-title {
  text-align: center;
  margin: 1rem;
}

.card {
  background-color: #79a3b1;
  margin: 1rem 0;
  height: 200px;
}

.navbar {
  background-color: #456268;
}

.configure-botton {
  width: 120px;
  margin-right: 20px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.input-area {
  margin-bottom: 2rem;
}

.input-group {
  width: 300px;
}

.unit-code {
  width: 100px;
}
